# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env
.env.*

# Database / Alembic cache
*.sqlite3

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
